In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("data/NHIS_OPEN_GJ_2018_v1.csv", encoding='cp949')
df2 = pd.read_csv("data/국민건강보험공단_건강검진정보.CSV", encoding='cp949')
df3 = pd.read_csv("data/국민건강보험공단_건강검진정보_20201231_수정.CSV", encoding='cp949')
df4 = pd.read_csv("data/국민건강보험공단_건강검진정보_20211231_수정.CSV", encoding='cp949')
df5 = pd.read_csv("data/국민건강보험공단_건강검진정보_20221231.CSV", encoding='cp949')

In [3]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)

Index(['기준년도', '가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)',
       '체중(5Kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '결손치유무', '치아마모증유무', '제3대구치(사랑니)이상', '치석',
       '데이터공개일자'],
      dtype='object')
Index(['기준년도', '가입자 일련번호', '시도코드', '성별코드', '연령대 코드(5세단위)', '신장(5Cm단위)',
       '체중(5Kg 단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기 혈압',
       '이완기 혈압', '식전혈당(공복혈당)', '총 콜레스테롤', '트리글리세라이드', 'HDL 콜레스테롤', 'LDL 콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마 지티피', '흡연상태',
       '음주여부', '구강검진 수검여부', '치아우식증유무', '결손치 유무', '치아마모증유무', '제3대구치(사랑니) 이상',
       '치석', '데이터 공개일자'],
      dtype='object')
Index(['기준년도', '가입자일련번호', '시도코드', '성별', '연령대코드(5세단위)', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')
Index(['기준년도', '가입자일련번호', '시도코드', '성별', '연령대코드(5세단위)', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')
Index(['기준년도', '가입자일련번호', '시도코드', '성별', '연령대코드(5세단위)', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')

In [4]:
df1.rename(columns={'성별코드': '성별', '신장(5Cm단위)': '신장(5cm단위)', '체중(5Kg단위)': '체중(5kg단위)'}, inplace=True)
df1.drop(columns=['결손치유무', '치아마모증유무', '제3대구치(사랑니)이상', '데이터공개일자'], inplace=True)
df1 = df1.reindex(columns=['기준년도', '가입자일련번호', '성별', '연령대코드(5세단위)', '시도코드', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'])
df1.columns

Index(['기준년도', '가입자일련번호', '성별', '연령대코드(5세단위)', '시도코드', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')

In [5]:
df2.rename(columns={'가입자 일련번호': '가입자일련번호', '성별코드': '성별', '연령대 코드(5세단위)': '연령대코드(5세단위)', '신장(5Cm단위)': '신장(5cm단위)', 
                    '체중(5Kg 단위)': '체중(5kg단위)', '수축기 혈압': '수축기혈압', '이완기 혈압': '이완기혈압', '총 콜레스테롤': '총콜레스테롤',
                    'HDL 콜레스테롤': 'HDL콜레스테롤', 'LDL 콜레스테롤': 'LDL콜레스테롤', '감마 지티피': '감마지티피', '구강검진 수검여부': '구강검진수검여부'}, inplace=True)
df2.drop(columns=['결손치 유무', '치아마모증유무', '제3대구치(사랑니) 이상', '데이터 공개일자'], inplace=True)
df2.columns

Index(['기준년도', '가입자일련번호', '시도코드', '성별', '연령대코드(5세단위)', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')

In [6]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)

Index(['기준년도', '가입자일련번호', '성별', '연령대코드(5세단위)', '시도코드', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')
Index(['기준년도', '가입자일련번호', '시도코드', '성별', '연령대코드(5세단위)', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')
Index(['기준년도', '가입자일련번호', '시도코드', '성별', '연령대코드(5세단위)', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')
Index(['기준년도', '가입자일련번호', '시도코드', '성별', '연령대코드(5세단위)', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')
Index(['기준년도', '가입자일련번호', '시도코드', '성별', '연령대코드(5세단위)', '신장(5cm단위)',
       '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압',
       '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태',
       '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')

In [10]:
df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
df

,기준년도,가입자일련번호,성별,연령대코드(5세단위),시도코드,신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석,혈청지오티(AST),혈청지피티(ALT)
0,2018,1,2,7,48,160,60,79.5,1.5,1.5,...,21.0,8.0,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN
1,2018,2,1,6,26,170,55,69.3,1.2,0.8,...,35.0,45.0,47.0,1.0,Y,Y,0.0,N,NaN,NaN
2,2018,3,1,12,28,165,70,85.0,0.8,0.8,...,77.0,47.0,21.0,2.0,Y,Y,0.0,N,NaN,NaN
3,2018,4,2,15,27,150,45,71.5,0.4,0.3,...,19.0,10.0,13.0,1.0,NaN,Y,0.0,N,NaN,NaN
4,2018,5,2,14,41,145,50,77.0,0.7,0.6,...,26.0,26.0,12.0,1.0,Y,N,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,2022,2134210,1,6,43,170,90,98.8,1.2,1.2,...,NaN,NaN,77.0,1.0,1.0,1,0.0,0.0,95.0,251.0
4999996,2022,1686113,2,15,27,150,85,116.0,0.6,0.7,...,NaN,NaN,25.0,1.0,0.0,0,NaN,NaN,59.0,49.0
4999997,2022,902951,1,12,45,165,80,98.2,0.9,1.0,...,NaN,NaN,60.0,2.0,1.0,0,NaN,NaN,48.0,82.0
4999998,2022,3721315,1,6,47,175,65,75.4,1.2,1.2,...,NaN,NaN,17.0,2.0,1.0,1,1.0,0.0,245.0,72.0
4999999,2022,4901217,2,14,11,150,40,74.1,1.0,0.7,...,NaN,NaN,27.0,1.0,0.0,0,NaN,NaN,58.0,42.0

In [11]:
df.to_csv('data/merged_data.csv')

In [16]:
df = pd.read_csv("data/merged_data.csv", encoding='cp949')
df

,기준년도,가입자일련번호,시도코드,성별,연령대코드(5세단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,요단백,혈청크레아티닌,혈청지오티(AST),혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석
0,2018,1,48,2,7,160,60,79.5,1.5,1.5,...,1.0,0.5,21.0,8.0,12.0,1.0,NaN,0,NaN,NaN
1,2018,2,26,1,6,170,55,69.3,1.2,0.8,...,1.0,1.0,35.0,45.0,47.0,1.0,1.0,1,0.0,0.0
2,2018,3,28,1,12,165,70,85.0,0.8,0.8,...,NaN,1.1,77.0,47.0,21.0,2.0,1.0,1,0.0,0.0
3,2018,4,27,2,15,150,45,71.5,0.4,0.3,...,1.0,0.6,19.0,10.0,13.0,1.0,NaN,1,0.0,0.0
4,2018,5,41,2,14,145,50,77.0,0.7,0.6,...,1.0,0.5,26.0,26.0,12.0,1.0,1.0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,2022,2134210,43,1,6,170,90,98.8,1.2,1.2,...,1.0,0.9,95.0,251.0,77.0,1.0,1.0,1,0.0,0.0
4999996,2022,1686113,27,2,15,150,85,116.0,0.6,0.7,...,1.0,1.4,59.0,49.0,25.0,1.0,0.0,0,NaN,NaN
4999997,2022,902951,45,1,12,165,80,98.2,0.9,1.0,...,1.0,1.0,48.0,82.0,60.0,2.0,1.0,0,NaN,NaN
4999998,2022,3721315,47,1,6,175,65,75.4,1.2,1.2,...,1.0,1.1,245.0,72.0,17.0,2.0,1.0,1,1.0,0.0
4999999,2022,4901217,11,2,14,150,40,74.1,1.0,0.7,...,1.0,0.9,58.0,42.0,27.0,1.0,0.0,0,NaN,NaN

In [13]:
df = pd.read_csv("data/merged_data.csv")
df

/tmp/ipykernel_12720/863727105.py:1: DtypeWarning: Columns (27,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/merged_data.csv")

,Unnamed: 0,기준년도,가입자일련번호,성별,연령대코드(5세단위),시도코드,신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석,혈청지오티(AST),혈청지피티(ALT)
0,0,2018,1,2,7,48,160,60,79.5,1.5,...,21.0,8.0,12.0,1.0,NaN,N,NaN,NaN,NaN,NaN
1,1,2018,2,1,6,26,170,55,69.3,1.2,...,35.0,45.0,47.0,1.0,Y,Y,0.0,N,NaN,NaN
2,2,2018,3,1,12,28,165,70,85.0,0.8,...,77.0,47.0,21.0,2.0,Y,Y,0.0,N,NaN,NaN
3,3,2018,4,2,15,27,150,45,71.5,0.4,...,19.0,10.0,13.0,1.0,NaN,Y,0.0,N,NaN,NaN
4,4,2018,5,2,14,41,145,50,77.0,0.7,...,26.0,26.0,12.0,1.0,Y,N,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,4999995,2022,2134210,1,6,43,170,90,98.8,1.2,...,NaN,NaN,77.0,1.0,1.0,1,0.0,0.0,95.0,251.0
4999996,4999996,2022,1686113,2,15,27,150,85,116.0,0.6,...,NaN,NaN,25.0,1.0,0.0,0,NaN,NaN,59.0,49.0
4999997,4999997,2022,902951,1,12,45,165,80,98.2,0.9,...,NaN,NaN,60.0,2.0,1.0,0,NaN,NaN,48.0,82.0
4999998,4999998,2022,3721315,1,6,47,175,65,75.4,1.2,...,NaN,NaN,17.0,2.0,1.0,1,1.0,0.0,245.0,72.0
4999999,4999999,2022,4901217,2,14,11,150,40,74.1,1.0,...,NaN,NaN,27.0,1.0,0.0,0,NaN,NaN,58.0,42.0